In [1]:
import pandas as pd

In [17]:
df=pd.read_csv("usd4.csv")

In [18]:
df.describe()

              rate
count  1778.000000
mean     20.963740
std       7.390856
min       7.990000
25%      12.952500
50%      24.965000
75%      26.457500
max      30.010000

In [19]:
df["rate"].min()

7.99

In [20]:
df["rate"].max()

30.01

In [22]:
df["rate_kop"] = df["rate"]*100

In [23]:
df

            date   rate  rate_kop
0     31.12.2013   7.99     799.0
1     30.12.2013   7.99     799.0
2     27.12.2013   7.99     799.0
3     26.12.2013   7.99     799.0
4     25.12.2013   7.99     799.0
5     24.12.2013   7.99     799.0
6     23.12.2013   7.99     799.0
7     20.12.2013   7.99     799.0
8     19.12.2013   7.99     799.0
9     18.12.2013   7.99     799.0
10    17.12.2013   7.99     799.0
11    16.12.2013   7.99     799.0
12    13.12.2013   7.99     799.0
13    12.12.2013   7.99     799.0
14    11.12.2013   7.99     799.0
15    10.12.2013   7.99     799.0
16    09.12.2013   7.99     799.0
17    06.12.2013   7.99     799.0
18    05.12.2013   7.99     799.0
19    04.12.2013   7.99     799.0
20    03.12.2013   7.99     799.0
21    02.12.2013   7.99     799.0
22    29.11.2013   7.99     799.0
23    28.11.2013   7.99     799.0
24    27.11.2013   7.99     799.0
25    26.11.2013   7.99     799.0
26    25.11.2013   7.99     799.0
27    22.11.2013   7.99     799.0
28    21.11.2013   7.99     799.0
29    20.11.2013   7.99     799.0
...          ...    ...       ...
1748  12.02.2019  27.06    2706.0
1749  11.02.2019  26.90    2690.0
1750  08.02.2019  26.96    2696.0
1751  07.02.2019  26.96    2696.0
1752  06.02.2019  27.22    2722.0
1753  05.02.2019  27.42    2742.0
1754  04.02.2019  27.57    2757.0
1755  01.02.2019  27.74    2774.0
1756  31.01.2019  27.76    2776.0
1757  30.01.2019  27.77    2777.0
1758  29.01.2019  27.79    2779.0
1759  28.01.2019  27.82    2782.0
1760  25.01.2019  27.79    2779.0
1761  24.01.2019  27.70    2770.0
1762  23.01.2019  27.90    2790.0
1763  22.01.2019  27.95    2795.0
1764  21.01.2019  27.98    2798.0
1765  18.01.2019  28.03    2803.0
1766  17.01.2019  28.01    2801.0
1767  16.01.2019  28.17    2817.0
1768  15.01.2019  28.02    2802.0
1769  14.01.2019  28.15    2815.0
1770  11.01.2019  28.27    2827.0
1771  10.01.2019  28.12    2812.0
1772  09.01.2019  28.02    2802.0
1773  08.01.2019  27.71    2771.0
1774  04.01.2019  27.51    2751.0
1775  03.01.2019  27.69    2769.0
1776  02.01.2019  27.69    2769.0
1777  01.01.2019  27.69    2769.0

[1778 rows x 3 columns]

In [24]:
df["rate"].plot()